<% include header %>
<div class = "well jumbotron">
<h1 align = "center">Welcome <%= username %>, 欢迎登陆！！</h1>
<div class = "here-unit">
<a class ="btn btn-primary" href = "/">退出</a>
</div>
</div>
<% include footer %>

