<% include header.ejs %>

<div class="well jumbotron">
<!-- p -->
<a class="btn btn-primary btn-large" href = "/login">登录</a>
<a class="btn btn-primary btn-large" href = "/reg">注册</a>
<!-- /p -->
<h1 align = "center"><%= title %></h1>
<div class = "here-unit">
<h1 align = "center">欢迎欢迎</h1>
<p align = "center"> This 是一个基于Node.js 的微博系统</p>
</div>
</div>

<% include footer.ejs %>

